h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

a {
  color: #008AFF;
  text-decoration: None;
}
a:hover,
a:focus {
  color: #0085a1;
}


.head_div {
    width: 35%;
    height: 130px;
    color: inherit;
    float: left;
    margin-left: 2px;
    margin-top: 0px;
}

.publication-entry {
      margin-top: 30px;
}

.publication-title {
    color: inherit;
    font-weight: bold;
}
.publication-authors {
   font-family: 'Open Sans';
   font-stretch: 'normal';
   font-style: italic;
   font-weight: 400;
   font-size: 90%;
}
.publication-conf {
   font-style: normal;
   font-weight: 400;
}

.publication-links {
    font-style: normal;
    font-weight: 300;
}
.patent-entry{
    margin-top: 10px;
}