
<section class="section experiences-section">

	<p align="justify">I am a 5th year Ph.D. student at , <a href="https://www.iiitd.ac.in"> IIIT-Delhi </a>. I work in the domain of <b>Computer Vision and Deep Learning</b>.
	I am advised by <a href="https://faculty.iiitd.ac.in/~anands/"> Dr. Saket Anand </a>. My Ph.D. is supported by <a href="https://phd.medialabasia.in/">Visvesvarya Ph.D. Fellowship, Govt. of India </a>. </p> </br> 
<p>	My Ph.D. research work focuses on <b>robust statistical methods for learning and vision</b>.</p> 

<strong><h4>Research Interests:</h4></strong>
<ul>
<li> Robust Geometric Computer Vision (2D and 3D) </li>
<li> Deep Learning For Geometric Computer Vision</li>
<li> Robust Statistical Methods For Robust Deep Learning</li>
<li> Image Based 3D Modeling</li>
<li> Computer Vision for Autonomous Driving</li>
</ul>
<hr>
<strong><h4>Awards and Fellowships:</h4></strong>
<ul>
  <li><a href="http://wacv18.uccs.us/">IEEE WACV 2018</a> Ph.D. Forum Travel Award</li>
  <li>2nd Prize, Poster Session, Research Showcase 2017 @ <a href="https://www.iiitd.ac.in/">IIIT-Delhi</a>.</li>
  <li>Best Doctoral Symposium Award (3rd), <a href="http://www.iitg.ac.in/icvgip2016/BestPaperAwards.php"> ICVGIP'2016</a></li>
  <li>IEEE Signal Processing Society, Travel Award to attend <a href="http://www.2016.ieeeicip.org/ICIP%202016/www2.securecms.com/ICIP2016/default.html">IEEE ICIP 2016</a.</li>
  <li><a href="https://phd.medialabasia.in/">Visvesvarya Ph.D. Fellowship</a>, Jul 2014- Dec 2019. </li>
  <li>Graduate Fellowship, GATE (Top 4% in India), Jul 2012- Jun 2014. </li>
  <li>University Topper and <a href="https://lokender.github.io/gold.html"><font color="orange"><b>Chancellor's Gold Medal</b></font></a> in B.Tech CSE. </li>
  <li>Academic Merit Award for the year 2003, 2004, 2005. </li>
  <li> Best student of the year 2003. </li>
</ul>  

<hr>	  
<strong><h4>Work Experiance:</h4></strong>
<ul>
	<li>[5/2019 - 8/2019] <i>Real Time Robust SfM in the Wild</i> </br>
	<b>Role:</b> Research Assistant, <a href="http://www.nec-labs.com/research-departments/media-analytics/media-analytics-people">NEC Laboratories America, Inc.</a> </br> 
        <b>Mentors: </b><a href="http://www.nec-labs.com/quoc-huy-tran">Dr. Quoc-Huy Tran</a>, <a href="http://www.nec-labs.com/pan-ji">Dr. Pan Ji</a> and <a href="https://cseweb.ucsd.edu/~mkchandraker/">Prof. Manmohan Chandraker</a> </li>
</br>
<li>[8/2014 - ] <i><b>Swarath</b>: Autonomous Last Mile Connectivity for Commuters</i></br>
<b>Role:</b> Team member, Computer Vision Module, <a href="https://www.facebook.com/swarathatiiitd/">Swarath@IIIT-Delhi</a> </br> 
<b>Mentor:</b><a href="https://faculty.iiitd.ac.in/~anands/"> Dr. Saket Anand </a></li>
</ul>  

<hr>
	  
<strong><h4>Patent Applications:</h4></strong>
<i>Pseudo RGB-D: Exploiting Learned Depth for Robust SfM </i></br>
<a href="http://www.nec-labs.com/quoc-huy-tran">Q.-H. Tran</a>, L. Tiwari, <a href="http://www.nec-labs.com/pan-ji">P. Ji</a> and <a href="https://cseweb.ucsd.edu/~mkchandraker/">M. Chandraker</a></br>
<a href="http://www.nec-labs.com/">NEC Laboratories America, Inc.</a> (provisional application, filed on Aug 2019)   </br>
<hr>

<h4><strong>Publications</strong></h4>
[<b>C4</b>] <i>DGSAC: Density Guided SAmpling and Consensus</i> </br>
L. Tiwari and S. Anand </br>
<a href="http://wacv18.uccs.us/">IEEE Winter Conference on Computer Vision (WACV), 2018</a> </br>
[<a href="">Paper</a>], [<a href="">Poster</a>], [<a href="">Code</a>] </br> </br>

[<b>C3</b>] <i>Robust Multi-Model Fitting using Density and Preference Analysis</i> </br>
L. Tiwari, S. Anand and S. Mittal. </br>
<a href="http://www.accv2016.org/">Asian Conference on Computer Vision (ACCV), 2016</a></br>
[<a href="https://doi.org/10.1007/978-3-319-54190-7_19">Paper</a>], [<a href="">Poster</a>], [<a href="">Code</a>] </br> </br>

[<b>C2</b>] <i>Fast Hypothesis Filtering for Multi-Structure Geometric Model Fitting</i> </br>
L. Tiwari and S. Anand. </br>
<a href="http://www.2016.ieeeicip.org/ICIP%202016/www2.securecms.com/ICIP2016/default.html/">IEEE International Conference on Image Processing (ICIP), 2016</a></br>
[<a href="https://doi.org/10.1109/ICIP.2016.7533056">Paper</a>], [<a href="">Poster</a>], [<a href="">Code</a>] </br> </br>

[<b>C1</b>] <i>Robust Camera Captured Image Mosaicking for Document Digitization and OCR Processing</i> </br>
L. Tiwari, B. Kumar and T. Patnaik. </br>
<a href="">IEEE International Conference on Information Technology (ICIT), 2014</a></br>
[<a href="https://doi.org/10.1109/ICIP.2016.7533056">Paper</a>], [<a href="">Poster</a>], [<a href="">Code</a>] </br> </br>  

<h4><strong>PhD Forum/Symposium/Workshops</strong></h4>
[<b>W3</b>] <i>Robust Statistical Methods for Learning and Vision</i></br>
L. Tiwari. <a href="http://wacv18.uccs.us/">PhD Forum, IEEE Winter Conference on Computer Vision (WACV), 2018</a> </br>
<b>Mentor:</b> <a href="https://www.vast.uccs.edu/~tboult/resume.html">Prof. Terrance Boult, University of Colorado, Colorado Spring</a> </br>

[<b>W2</b>] <i>Robust Estimation in Geometric Computer Vision</i></br>
L. Tiwari. <a href="http://www.iitg.ac.in/icvgip2016/BestPaperAwards.php">Doctoral Symposium at ICVGIP 2016, IIT-Guwahati, India</a></br>

[<b>W1</b>]  <i>Geometric Model Fiting Game</i> </br>
L. Tiwari. <a href="">Symposium on Optimization, 2016, IIT-Kanpur, India</a></br>
<hr>

<strong><h4>Teaching Assistant:</h4></strong>
<ul>
  <li>Head TA: Machine Learning (UG,PG), Monsoon 2017 and 2019</li>
  <li>Head TA: Computer Vision (UG,PG), Winter 2016, 2017 and 2018</li>
  <li>Head TA: Computer Graphics (UG,PG), Monsoon 2014 and 2015</li>
  <li>Head Tutor: Data Structures and Algorithms (UG,PG), Summer Term 2016</li>
  <li>Head TA: Technical Communication (UG), Winter 2015</li>
</ul>  

<hr>	
	
<strong><h4>Professional Services:</h4></strong>
<ul>
	<li><b>Reviewer</b>: Pattern Recognition, WACV</li>

</ul>  

<hr>	
</section><!--//section-->


