
<section class="section experiences-section">

<h3 align="center"><b>Chancellor's Gold Medal</b> </h3> 
<img src="gold.jpg"  width="625" height="350" style="border: 0; border-radius: 4px; float:left;margin-left:0px; margin-right:8px; margin-bottom:3px; margin-top:1px; position:relative; top:2px;"> <br>
<b>From left:</b> Starting from me , Retd Chief Justice of Supreme Court of India <a href="https://en.wikipedia.org/wiki/J._S._Verma"><b>, Late Justice J.S Verma</b> </a>, Governor of U.P , India <a href="https://en.wikipedia.org/wiki/Banwari_Lal_Joshi"><b>B.L Joshi</b></a>, Vice Chancellor of University, <b> Prof. Sundar Lal</b>
</section><!--//section-->


